
body{
    background-image: url(all.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* position:relative; */
    /* блок посередині повинен мати position absolute */

}

.header_wrap{
    display: flex;
    justify-content: space-between;

}

.header_wrap::before, .header_wrap::after{
    content: '';
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}

.header_wrap::before{
    background: url(backgroundpic.png);
    background-size:cover;
    z-index: -10;
    background-repeat: no-repeat;
}

.header_wrap::after{
    background-color: rgba(24, 24, 24, 0.5);
    z-index: -5;
}

.left_side_text{
    color: white;
    font-family: Verdana-Bold;
    font-size: 22px;
    padding-left: 90px;
    font-weight: 300;

}
.left_side_link{
    text-decoration: none;
    color: white;
}
.left_side_link:hover{
    color: #3CB878;
}

.header_right_side{
    display: flex;
    color: white;
}

.symbols_wrap{
display: flex;
align-items: center;
padding-right: 90px;

}



.symbols-item{
    display: inline-block;
    background: url(./icons/spritesheet.png);
    margin-right: 35px;
    cursor: pointer;
}

.iconsic-caledar{
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
    
}
.iconsic-caledar:hover{
    background-position: -34px -5px;
}

.iconsic-forum{
    width: 28px;
    height: 20px;
    background-position: -5px -34px;
}
.iconsic-forum:hover{
    background-position: -43px -34px;
}

.iconsic-journey{
    width: 20px;
    height: 20px;
    background-position: -81px -5px;
}
.iconsic-journey:hover{
    background-position: -81px -35px;
}






.symbols_wrap span{
    padding:5px;
}

.header_right_side_text_wrap{
padding-right: 90px;
font-size: 17px;

}
.header_right_side_link{
    text-decoration: none;
    color:white;
}

.login{
    color: #3cb878;
    
}

.signup{
    color: #3cb878;
    
}



.form_container{
    display: flex;
    justify-content: center;
    padding-top: 85px;


}

.form{
    background-color: white;
    width: 450px;
    height: 625px;
    position: absolute;
    border-radius: 3%;
}

.form_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_header_left_side{
    padding-left: 50px;
    padding-top: 30px;
    font-size: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.form_header_left_link{
    text-decoration: none;
    color: #000;
}

.form_header_right_side{
    padding-right: 31px;
    padding-top: 30px;
    font-size: 19px;
    color: #3cb878;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.form_header_right_link{
    text-decoration: none;
    color: #3CB878;
}

.form_icons{
    padding-left: 52px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}



.facebook_block{
    background-color: #4e71ba;
    display: flex;
    align-items: center;
    width: 158px;
    height: 47px;
    border-radius: 3%;
    color: white;
    padding-right: 10px;
    padding-left:10px;
    margin-left: 20px;
}
.f_link{
    text-decoration: none;
    color: white;
}

.facebook{
    font-size: 24px;
    
}

.facebook_block_letter_wrap{
    padding-right: 15px;
}

.facebook_block_letter{
    font-weight: 545;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 13px;
    padding-right: 13px;
    border-right: 1px solid #2b54a5;
}
.facebook_link{
    text-decoration: none;
    color: white;
}




.google_block{
    background-color: #DB4437;
    display: flex;
    align-items: center;
    width: 158px;
    height: 47px;
    border-radius: 3%;
    color: white;
    padding-right: 20px;
    margin-right: 20px;
    padding-left:10px;
    
}

.google{
font-size: 24px;
}

.google_block_letter_wrap{
    padding-right: 15px;
}

.google_block_letter{
    font-weight: 500;
    font-size: 28px;
    font-family: Courier, Verdana;
    padding-left: 13px;
    padding-right: 13px;
    border-right: 1px solid #c8422d;
    display: flex;
}

.google_block_letter div{
    display: flex;
    align-items: center;
    font-size: 18px;
}




.lines{
display: flex;
align-items: center;
justify-content: space-around;
padding-left: 36px;
padding-right: 36px;
padding-top: 30px;
}

.left_line{
    border: 1px solid #EAEAEA;
    width: 145px;
}

.lines_word{
    color: #b1acac;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right_line{
    border: 1px solid #EAEAEA;
    width: 153px;
}




.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs div{
    padding: 5px;
    
}
.inputs input{
    height: 47px;
    font-size: 19px;
}

#input{
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}




.checkbox_wrap{
    padding-left: 42px;
    padding-top: 20px;
}
.terms{
    color: #3cb878;
}

.button_wrap{
    padding-top: 25px;
    
}
.button{
    display: flex;
    justify-content: center;
}

.green_button{
    background-color: #3cb878;
    color:#cbecdb;
    border-radius: 4%;
    width: 360px;
    height: 50px;
    font-size: 20px;
}